<!-- Page Header Start -->
<div class="container-fluid page-header1 py-5 mb-5">
  <div class="container py-5">
    <h2 class="display-3 text-white mb-3 animated slideInDown">{{ title }}</h2>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-white" href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-white" href="#">Pages</a>
        </li>
        <li class="breadcrumb-item text-white active" aria-current="page"></li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->

<div class="container py-5">
  <div class="section-title text-center" style="margin-bottom: 25px">
    <h1>What is Payroll Giving?</h1>
  </div>
  <div class="p-4">
    <p class="mb-4 pb-2 text-center fs-5">
      Payroll Giving is a charitable giving program that allows employees to
      contribute a portion of their salary or wages for the social cause of
      their choice. This contribution is typically deducted automatically from
      the employee's paycheck. The employer facilitates this process, making it
      a convenient and efficient way for employees to support charitable causes.
      Small, regular donations add up to significant support. Your monthly
      contributions, no matter the size, ensure a steady stream of assistance to
      those in need. <br />
      Payroll Giving provides employees with a convenient, tax benefits, and
      meaningful way to contribute to charitable causes, aligning their personal
      values with their workplace and fostering a sense of community and social
      responsibility.
    </p>
  </div>
</div>

<!-- Cause you can support -->
<div class="container-fluid bg-light overflow-hidden my-5 ">
  <div class="container about px-lg-0">
    <div class="section-title text-center">
      <h1>Courses You Can Support</h1>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex flex-column justify-content-center align-items-center" style="min-height: 550px">
        <img src="assets/img/logo-service/codee.png" alt="Image 1" class="img-fluid" style="width: 300px; height: 250px">
        <h4>Coding On Wheels</h4>  <a href="#" class="btn btn-primary">Read More & Support</a>
      </div>
      <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
        <img src="assets/img/logo-service/codeedu.png" alt="Image 2" class="img-fluid" style="width: 300px; height: 250px">
        <div>
        <h4>Coding Education in Schools</h4>
        </div>  <a href="#" class="btn btn-primary">Read More & Support</a>
      </div>
      <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
        <img src="assets/img/logo-service/codew.png" alt="Image 3" class="img-fluid" style="width: 300px; height: 250px">
        <h4>Women Empowerment</h4>  <a href="#" class="btn btn-primary">Read More & Support</a>
      </div>
    </div>
  </div>
</div>
