<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
  <div class="container py-5">
    <h2 class="display-3 text-white mb-3 animated slideInDown">{{ title }}</h2>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-white" href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-white" href="#">Pages</a>
        </li>
        <li class="breadcrumb-item text-white active" aria-current="page"></li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
  <div class="container about px-lg-0">
    <div class="row g-0 mx-lg-0">
      <div class="col-lg-6 ps-lg-0" style="min-height: 400px; min-width: none;">
        <div class="position-relative h-100">
          <img class="position-absolute img-fluid w-100 h-100" src="assets/img/support/supp.png"
            style="object-fit: cover" alt="" />
        </div>
      </div>
      <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="p-lg-5  px-0">
          <div class="section-title text-start">
            <h1 class="display-5 mb-4">Support Form Individual</h1>
          </div>
          <p class="mb-4 pb-2">
            Your generosity supports a multifaceted impact, touching lives through
            education, empowering women, and fostering sustainable agriculture.
            Together, let's create a world where every individual, regardless of their
            background, has the opportunity to thrive in a empowered and sustainable
            community.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Support For Start -->
<div class="container-sm">
  <div class="section-title text-center pt-2" style="margin-bottom: 25px">
    <h1>Support For</h1>
</div>
<div class="container-fluid overflow-hidden my-5 px-lg-0">
  <div class="container-sm about px-lg-0">
    <div class="row g-0 mx-lg-0">
      
      <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="p-lg-5 pe-lg-0">
          <div class="section-title text-start">
            <h2 class="mb-4">
              <b>{{ empower.heading }}</b>
            </h2>
          </div>
          <p class="mb-4 pb-2 " style="font-size: large !important">
            {{ empower.content }}
          </p>
        </div>
      </div>
      <div class="col-lg-6 ps-lg-0" style="min-height: 400px">
        <div class="position-relative h-100">
          <img class="position-absolute img-fluid w-100 h-100" [src]="empower.img" style="object-fit: cover" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
  <div class="container-sm about px-lg-0">
    <div class="row g-0 mx-lg-0">
      <div class="col-lg-6 ps-lg-0" style="min-height: 400px">
        <div class="position-relative h-100">
          <img class="position-absolute img-fluid w-100 h-100" [src]="educate.img" style="object-fit: cover" alt="" />
        </div>
      </div>
      <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="p-lg-5 pe-lg-0">
          <div class="section-title text-start">
            <h2 class="mb-4">
              <b>{{ educate.heading }}</b>
            </h2>
          </div>
          <p class="mb-4 pb-2" style="font-size: large !important">
            {{ educate.content }}
          </p>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
  <div class="container-sm about px-lg-0">
    <div class="row g-0 mx-lg-0">
      <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
        <div class="p-lg-5 pe-lg-0">
          <div class="section-title text-start">
            <h2>
              <b>{{ equality.heading }}</b>
            </h2>
          </div>
          <p class="mb-4 pb-2" style="font-size: large !important">
            {{ equality.content }}
          </p>
        </div>
      </div>
      <div class="col-lg-6 ps-lg-0" style="min-height: 400px">
        <div class="position-relative h-100">
          <img class="position-absolute img-fluid w-100 h-100" [src]="equality.img" style="object-fit: cover" alt="" />
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- Support For End -->

<!-- Service Start -->
<div class="container py-5">
  <div class="container">
    <div class="section-title text-center" style="margin-bottom: 25px">
      <h1>Empower Change: Support Diverse Social Causes</h1>
    </div>
    <div class="row g-4" style="width: 100%; display: ruby !important">
      <a href="/">
        <div class="col-md-6 col-lg-4 wow fadeInUp" style="margin-right: 50px; width: 400px;" data-wow-delay="0.1s">
          <div class="service-item shadow">
            <div class="overflow-hidden">
              <img class="img-fluid img-thumbnail" src="assets/img/logo-service/codee.png" alt="Coding on wheels" />
            </div>
            <div class="p-4 text-center text-dark border border-5 border-light border-top-0">
              <h4 class="mb-3">Coding on Wheels</h4>
              <p>
                Bring technology education to underserved communities through
                our mobile coding labs. Empower youth with essential digital
                skills and unlock opportunities for their future.
              </p>
            </div>
          </div>
        </div>
      </a>

      <a href="/">
        <div class="col-md-6 col-lg-4 wow fadeInUp" style="margin-right: 50px; width: 415px" data-wow-delay="0.3s">
          <div class="service-item shadow">
            <div class="overflow-hidden">
              <img class="img-fluid " src="assets/img/logo-service/codeedu.png"
                alt="Coding Education In Government" />
            </div>
            <div class="p-4 text-center text-dark border border-5 border-light border-top-0">
              <h4 class="mb-3">Coding Education In Government</h4>
              <p>
                Partnering with government schools to integrate coding education
                into the curriculum. Bridge the digital divide and equip
                students with the tools they need to thrive in the digital age.
              </p>
            </div>
          </div>
        </div>
      </a>
      <div></div>

      <a href="/">
        <div class="col-md-6 col-lg-4 wow fadeInUp" style="margin-right: 50px; width: 415px" data-wow-delay="0.5s">
          <div class="service-item shadow">
            <div class="overflow-hidden">
              <img class="img-fluid " src="assets/img/logo-service/codew.png" alt="Women Empowerment" />
            </div>
            <div class="p-4 text-center text-dark border border-5 border-light border-top-0">
              <h4 class="mb-3">Women Empowerment</h4>
              <p>
                Empower women and girls through education, training, and
                entrepreneurship initiatives. Create pathways to economic
                independence and gender equality.
              </p>
            </div>
          </div>
        </div>
      </a>

      <a href="/">
        <div class="col-md-6 col-lg-4 wow fadeInUp" style="margin-right: 50px; width: 415px" data-wow-delay="0.1s">
          <div class="service-item shadow">
            <div class="overflow-hidden">
              <img class="img-fluid img_class" src="assets/img/logo-service/susagri.png" alt="Sustnable agriculture" />
            </div>
            <div class="p-4 text-center text-dark border border-5 border-light border-top-0">
              <h4 class="mb-3">Sustainable Agriculture</h4>
              <p>
                Promote sustainable farming practices and empower farmers to
                improve their livelihoods while protecting the environment.
                Cultivate food security and resilience in rural communities.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- Service End -->
